<div class="logo">
    <img src="/images/feeld-logo.png" alt="`Feeld Logo">
</div>
<div class="content">
    <div class="inner">
        <h1>Feeld Backend</h1>
        <p>
            This is my take on the <a href="https://github.com/Feeld/backend-developer-test">Feeld Backend Developer
                Test</a>. <br>
            Check out the <a href="https://github.com/zlotny/backend-developer-test">source on Github</a>.
        </p>
        <p>It consists on a REST backend for managing a board-game searching app.</p>
        <p>Author: <a href="https://github.com/zlotny">Andrés Vieira</a></p>
    </div>
</div>
<nav>
    <ul>
        <li><a href="/connect/google">&nbsp;&nbsp;&nbsp;Google Auth</a></li>
        <li><a href="/connect/facebook">Facebook Auth</a></li>

    </ul>
</nav>